.bg {
    background-image: url('../images/background.png');
    margin: 0;
    padding: 0;
    overflow: hidden;
    cursor: url(../images/cursor.png) 10 10, default;
    max-width: 100vw;
    max-height: 100vh;
}

.win-screen {
    background-color: rgb(128, 219, 67);
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.win-screen img {
    max-width: 100vw;
    max-height: 100vh;
}

.win {
    display: none;
}

.worm-progress {
    margin: .1rem 0 0 8rem;
    width: 10%;
    overflow: hidden;
    transition: width .5s ease-in-out;
}

.mole-hole-container {
    text-align: center;
}
.mole-hole {
    background-color: black;
    width: 268px;
    height: 268px;
    border-radius: 50%;
    display: inline-block;
    margin: 0 4rem 0 4rem;
}
.mole-img {
    position: relative;
    right: 33px;
    display: none;
}
    .hungry-mole:hover {
        cursor: url(../images/cursor-worm.png), default;
    }


.show {
    display: inline-block;
}